#right-click-menu .custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
}

#right-click-menu .custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
}

#right-click-menu .custom-menu li:hover {
    background-color: #DEF;
}


