.canvas {
    border: 1px solid black;
    margin: 0;
    background: #fff;
}

.leaf {
    display: block;
    width: 150px;
    height: 30px;
    position: relative;
}

.node-element {
    display: inline;
}

.node-element:active {
    opacity: 0.5;
}

.node-element:hover,
g.node-element:hover {
    opacity: 0.5;
}

.op-node-text {
    color: yellow;
    font-size: 12px;
}