.tabs-container {
    /*    background: #fff;*/
}

#canvas-container {
    background-color: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=);
    padding-left: 0;
    padding-right: 0;
}

#canvas {
/*    border: 1px solid black;*/
    margin: 0;
}

.leaf {
    display: block;
    width: 150px;
    height: 30px;
    position: relative;
}

.node-element {
    display: inline;
}

.node-element:active {
    opacity: 0.5;
}

.node-element:hover,
g.node-element:hover {
    opacity: 0.5;
}

.op-node-text {
    color: yellow;
    font-size: 12px;
}