#page-body {
    width: 100%;
    margin: 0 auto;
    /*padding: 0;*/
}

#canvas-container {
    /*    border: 2px solid black;
        margin: 50px auto;
        padding: 10px;
        width: 80%;
        overflow: auto;*/
}

.canvas {
    border: 1px solid black;
    margin: 0 auto;
}

.leaf {
    display: block;
    /*     /////////////////////////////width and height are used in drawing svg circles*/
    width: 150px;
    height: 30px;
    position: relative;
}

.node-element {
    display: inline;
}

.leaf-node:active {
    opacity: 0.5;
}

.leaf-node:hover {
    opacity: 0.5;
}

.op-node-text {
    color: yellow;
    font-size: 12px;
}