.item {
    border: 1px solid black;
    background-color: #ddddff;
    width: 100px;
    height: 100px;
}

#state1 {
    position: absolute;
    left: 100px;
    top: 100px;
}

#state2 {
    position: absolute;
    left: 250px;
    top: 100px;
}

#state3 {
    position: absolute;
    left: 100px;
    top: 250px;
}

.chevron-toolbox {
    position: absolute;
    widows: 72px;
    height: 80px;
    background-color: aqua;
}

#dropArea {
    cursor: pointer;
    border: 1px solid red;
    height: 400px;
    width: 800px;
    position: relative;
    overflow: scroll;
}