#page-body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#canvas {
    border: 2px solid black;
    margin: 50px auto;
    padding: 10px;
    width: 80%;
    float: none;
}


/*two canvas containers for each input and output*/

.canvas-container {
    text-align: center;
    margin: 0 auto;
    height: 800px;
}


/*where the file structure will be loaded*/

.scroll-box {
    height: 300px;
    width: 40%;
    font: 16px/26px Georgia, Garamond, Serif;
    text-align: left;
    margin: 10px auto;
    position: relative;
    background-color: white;
}

.scroll-box-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid black;
}

#input-structure-title {
    background-color: #E1455A;
}

#output-structure-title {
    background-color: #D8DD38;
}


/*set leaf node css*/

.leaf {
    margin-left: 20px;
    display: block;
    line-height: 20px;
    top: auto;
}

.in-leaf.glyphicon:before {
    position: absolute;
    right: 0;
    top: 0;
}

.out-leaf.glyphicon {
    margin-left: 0;
}


/* file load options */

.load-file {
    display: none;
}

.file-drag {
    height: 75px;
    font-weight: bold;
    text-align: center;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

.file-drag-hover {
    height: 75px;
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.file-content {
    padding: 10px;
    text-align: left;
}