#page-body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#page-body #canvas {
    border: 2px solid black;
    margin: 50px auto;
    padding: 10px;
    width: 80%;
    float: none;
}

#canvas .canvas-container {
    text-align: center;
    margin: 0 auto;
}

#canvas .canvas-container .scroll-box {
    height: 300px;
    width: 40%;
    border: 2px solid black;
    /*    border-radius: 4px;*/
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
    text-align: left;
    margin: 10px auto;
    position: relative;
}

.scroll-box-title {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid black;
}

#page-body #canvas #input-structure #input-structure-title {
    background-color: #902040;
}

#page-body #canvas #output-structure #output-structure-title {
    background-color: #7270a8;
}

.file-content {
    padding: 10px;
    text-align: left;
}

#canvas .canvas-container .load-file {
    display: none;
}

.file-drag {
    height: 75px;
    font-weight: bold;
    text-align: center;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

.file-drag-hover {
    height: 75px;
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}